body {
    background-image: url(/img/ceu_cadastro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkorange;
    border-radius: 25px;
    padding: 10px;
}
.menu > img {
    width: 200px;
}
.menu > a > img{
    width: 200px;
}

.conteudo {
    background-color: #F8F8F7;
    width: 1000px;
    display: block;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 75px;
    border-radius: 20px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 50px;
    line-height: 1.5;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.v {
    margin-bottom: -45px;
    display: block;
    margin: auto;
}

@media (max-width: 768px) {


    .menu {
        flex-direction: space-around;
        align-items: center;
    }
    .conteudo {
        width: 400px;
    }
    .menu > img {
        width: 100px;
    }
    .menu > a > img{
        width: 100px;
    }
    img {
        width: 360px;
    }
}

@media (max-width: 480px) {
    .conteudo {
        width: 300px;
    }
    img {
        width: 260px;
    }
    .menu > img {
        width: 100px;
    }
    .menu > a > img{
        width: 100px;
    }
}