body {
    background-image: url(/img/ceu_cadastro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body > img {
    display: block;
    margin: auto;
    margin-top: 30px;
}
.fase1 {
    height: 90px;
    width: 90px;
    position: relative;
    bottom: 540px;
    left: 640px;
    margin-bottom: ;
}

.fase2 {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 630px;
    left: 970px;
}

.fase3 {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 535px;
    left: 810px;
}

.re {
    width: 10px;
    position: relative;
    bottom: 520px;
    left: 680px;
    margin-bottom: -500px;
}
h1 {
    text-align: center;
    font-size: 50px;
    
}

.c {
    margin-bottom: -100px;
    position: relative;
    bottom: 750px;
    left: 1570px;
}