body {
    background-image: url(/img/ceu_cadastro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body > img {
    display: block;
    margin: auto;
    margin-top: 30px;
}
.fase1 {
    height: 90px;
    width: 90px;
    position: relative;
    bottom: 540px;
    left: 810px;
}

.fase1:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.fase2 {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 630px;
    left: 1150px;
}

.fase2:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.fase3 {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 535px;
    left: 980px;
}

.fase3:hover {
    filter: brightness(110%);
    transform: scale(1.1);
}

.re {
    width: 10px;
    position: relative;
    bottom: 520px;
    left: 850px;
    margin-bottom: -500px;
}
h1 {
    text-align: center;
    font-size: 50px;
    
}

#fases {
    margin-top: -65px;
    margin-bottom: -65px;
}

.menu {
    display: flex;
    flex-direction: row;
    top: 0;
    width: 100%;
    background-color: darkorange;
    border-radius: 25px;
    align-items: center;
    color: yellow;
    justify-content: space-around;


}

#menu1 {
    padding-top: -1000px;
    padding-bottom: -1000px;
    padding-left: -1000px;
    padding-right: -1000px;
}

